.About3D {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  cursor: pointer;
  grid-column: 1/3;
  grid-row: 1/4;
  padding-left: -50px;
  z-index: 200;
  transition-delay: 2s; }
  .About3D .btn3d {
    font-family: dharma-gothic-m, sans-serif;
    font-size: 95px;
    letter-spacing: 4px;
    position: relative;
    width: 400px;
    height: 100px;
    perspective: 500px; }
    .About3D .btn3d:hover > .btn__flip {
      transform: rotateX(-90deg); }
    .About3D .btn3d .btn__flip {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      transform-origin: center bottom 50px;
      transition: transform 1s;
      transform: rotateX(0deg);
      text-decoration: none; }
      .About3D .btn3d .btn__flip .btn__flip--off {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(0deg) translateZ(50px);
        background: #FED32D;
        color: #303F3C;
        text-decoration: none; }
      .About3D .btn3d .btn__flip .btn__flip--on {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(90deg) translateZ(50px);
        background: #303F3C;
        color: #FED32D;
        text-decoration: none; }

.space {
  height: 100px; }

.img {
  position: relative;
  grid-column: 6/7;
  grid-row: 1/2;
  max-width: 100%; }
  .img .logo {
    height: 120px;
    position: absolute;
    top: 20px;
    left: 50px;
    transform: rotate(360deg);
    transition: duration 2s; }
  .img .fleche {
    height: 70px;
    position: absolute;
    top: 45px;
    left: 72px; }

.burger {
  height: 6px;
  width: 40px;
  background-color: #FED32D;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer; }
  .burger::before {
    content: '';
    position: absolute;
    background-color: #FED32D;
    height: 6px;
    width: 40px;
    transform: translateY(12px); }

.cross {
  height: 6px;
  width: 40px;
  background-color: #303F3C;
  position: absolute;
  transform: rotate(45deg);
  top: 40px;
  right: 40px;
  visibility: hidden;
  z-index: 500; }
  .cross::before {
    content: '';
    position: absolute;
    background-color: #303F3C;
    height: 6px;
    width: 40px;
    transform: rotate(90deg); }
  .cross:hover {
    cursor: pointer; }

nav {
  font-family: dharma-gothic-m, sans-serif;
  font-size: 200px;
  grid-column: 1/4;
  grid-row: 2/4;
  color: #FED32D;
  text-align: end;
  padding-right: 80px; }
  nav Ul > li {
    margin: -30px; }
  nav .FE {
    font-size: 200px;
    -webkit-text-stroke: 3px #FED32D;
    color: #303F3C;
    letter-spacing: 5px; }
  nav .NM {
    font-size: 200px;
    color: #FED32D; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.index_body {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr; }

.responsive {
  display: none; }

.span {
  position: absolute;
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.span_div {
  background-color: #FED32D;
  z-index: 20; }

.span1 {
  height: 0%;
  transition: 0.5s;
  grid-column: 3/4;
  grid-row: 1/5; }

.span2 {
  height: 0%;
  transition: 1s;
  grid-column: 2/3;
  grid-row: 1/5; }

.span3 {
  height: 0%;
  transition: 1.5s;
  grid-column: 1/2;
  grid-row: 1/5; }

section {
  background-color: #303F3C;
  z-index: 1;
  display: flex;
  height: 100vh;
  align-items: center;
  position: relative;
  grid-column: 1/6; }
  section .border {
    border: solid 4px #FED32D;
    width: 96%;
    height: 94%;
    position: absolute;
    left: 25px;
    z-index: 3; }

.bandereau {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FED32D;
  z-index: 300;
  overflow: hidden; }
  .bandereau .social_networks {
    transition: 1.2s; }
  .bandereau .name {
    transform: rotate(-90deg);
    background-color: #FED32D;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .bandereau .name .line {
      height: 2px;
      width: 100%;
      background-color: #303F3C;
      margin-bottom: 20px;
      margin-top: -20px; }
    .bandereau .name a {
      text-decoration: none; }
    .bandereau .name ul {
      display: flex;
      gap: 30px;
      justify-content: flex-start; }
      .bandereau .name ul li {
        white-space: nowrap;
        font-family: 'tepeno', sans-serif;
        font-size: 16px;
        color: #303F3C; }
    .bandereau .name .portfolio {
      font-family: dharma-gothic-e;
      font-style: italic;
      font-size: 10rem;
      color: #303F3C;
      transition: 1.6s;
      font-weight: 900; }

.img {
  grid-column: 3/5;
  grid-row: 2/4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .img img {
    height: 90%; }
  .img .circl1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #FED32D;
    z-index: -20; }
  .img .circl2 {
    position: absolute;
    bottom: 10px;
    right: 50px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #FED32D;
    z-index: 20; }

.pres {
  background-color: #303F3C;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 40% 35%;
  z-index: -41; }
  .pres .hover {
    background-color: #FED32D; }
  .pres .textslider {
    grid-column: 1/5;
    grid-row: 1/2;
    overflow: hidden;
    white-space: nowrap; }
    .pres .textslider h2 {
      font-family: roboto;
      font-size: 100px;
      font-weight: 600;
      transform: translateX(-100%);
      color: #303F3C;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #FED32D;
      animation: slidetext 10s infinite linear; }
    .pres .textslider .line {
      height: 4px;
      width: 100%;
      background-color: #FED32D; }

@keyframes slidetext {
  0% {
    transform: translateX(-70%); }
  100% {
    transform: translateX(0%); } }
#img {
  height: auto;
  width: auto;
  background-color: #FED32D; }

.click {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
  overflow: hidden;
  z-index: 200; }
  .click .absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -40%; }
    .click .absolute .relative {
      position: relative;
      width: auto;
      height: 100%; }
      .click .absolute .relative img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%; }
        .click .absolute .relative img:hover {
          cursor: pointer; }
  .click .rotate1 {
    animation: rotate1 10s infinite linear; }
  .click .rotate2 {
    animation: rotate2 15s infinite linear; }
  .click .img1 {
    height: 680px; }
  .click .img2 {
    height: 390px; }

@keyframes rotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); } }
@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
/*----------ABOUT ME----------*/
.about_me, .project, .contact {
  max-width: 100%;
  background-color: #303F3C; }
  .about_me h2, .project h2, .contact h2 {
    color: #FED32D;
    font-family: roboto; }
  .about_me header, .project header, .contact header {
    background-image: url(img/header_background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 0 7%;
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .about_me header h2, .project header h2, .contact header h2 {
      width: 50%;
      font-size: 40px; }
  .about_me .main_header, .project .main_header, .contact .main_header {
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, #303F3C, transparent 100%);
    display: flex;
    align-items: flex-start;
    position: fixed; }
    .about_me .main_header nav, .project .main_header nav, .contact .main_header nav {
      display: flex;
      height: 100px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 30px 7%; }
    .about_me .main_header img, .project .main_header img, .contact .main_header img {
      height: 60px; }
    .about_me .main_header .title, .project .main_header .title, .contact .main_header .title {
      font-family: dharma-gothic-m, sans-serif;
      font-style: italic;
      font-weight: 700;
      font-size: 70px; }
    .about_me .main_header a, .project .main_header a, .contact .main_header a {
      text-decoration: none;
      height: auto; }
    .about_me .main_header ul, .project .main_header ul, .contact .main_header ul {
      display: flex;
      gap: 50px;
      width: 80%;
      justify-content: end; }
      .about_me .main_header ul li, .project .main_header ul li, .contact .main_header ul li {
        color: #FED32D;
        font-family: roboto;
        font-size: 25px;
        font-weight: 600;
        text-decoration: underline; }

.section1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 1000px;
  max-width: 100%;
  background-size: cover;
  padding: 100px 10% 0 10%;
  gap: 7%;
  background-color: #303F3C; }
  .section1 h2 {
    color: #FED32D;
    font-family: roboto;
    font-size: 42px;
    text-align: justify start;
    padding-top: 200px; }
  .section1 .h2 {
    color: #FED32D;
    font-family: dharma-gothic-m, sans-serif;
    font-style: italic;
    font-size: 260px;
    text-shadow: 10px 10px #1D2624;
    width: 50%;
    text-align: center; }

.logiciel {
  padding: 0 7%;
  display: flex;
  justify-content: center;
  background-color: #303F3C; }
  .logiciel .logo {
    display: flex; }
    .logiciel .logo img {
      width: 200px;
      height: auto; }

.last_text {
  text-align: center;
  font-size: 40px;
  padding: 7% 0;
  background-color: #303F3C; }

/*----------PROJECTS----------*/
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; }
  .project .roller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative; }
    .project .roller .box {
      transform-style: preserve-3d;
      animation: animate 25s linear infinite;
      z-index: -20; }
      .project .roller .box span {
        position: absolute;
        font-family: roboto;
        color: #FED32D;
        white-space: nowrap;
        text-transform: uppercase;
        padding: 0 10px;
        font-size: 45px;
        font-weight: 1000;
        transform-style: preserve-3d;
        transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(100px);
        background: linear-gradient(90deg, transparent, #303F3C, transparent);
        line-height: 0.76em; }
        .project .roller .box span i {
          font-style: initial;
          color: #303F3C;
          -webkit-text-stroke: 1px;
          -webkit-text-stroke-color: #FED32D; }
    .project .roller .images {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .project .roller .images img {
        max-width: 500px;
        max-height: 500px;
        opacity: 0;
        transition: 0.2s;
        width: auto;
        height: auto;
        position: absolute; }
      .project .roller .images .img1 {
        transform: rotate(4deg); }
      .project .roller .images .img2 {
        transform: rotate(-7deg); }
      .project .roller .images .img3 {
        transform: rotate(7deg); }
      .project .roller .images .img4 {
        transform: rotate(-4deg); }

.section2 {
  display: flex;
  width: 100%;
  padding: 0 7%;
  padding-top: 250px;
  padding-bottom: 100px; }
  .section2 nav {
    font-size: 60px;
    font-family: roboto;
    width: 40%;
    text-align: left;
    line-height: 60px;
    color: #303F3C;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #FED32D;
    padding-right: 0; }
    .section2 nav li {
      padding: 30px 0;
      cursor: pointer; }
      .section2 nav li:hover {
        color: #FED32D;
        -webkit-text-stroke: 2px; }

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotate(15deg); }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotate(15deg); } }
/*----------CONTACT----------*/
.contact {
  background-color: #1D2624; }

@media screen and (max-width: 400px) {
  .index_body {
    display: none; }

  .responsive {
    display: block; }

  .index_body_responsive {
    display: block;
    height: 100vh;
    z-index: -20; }

  .portfolio h1 {
    font-size: 230px; }

  .bandereau {
    width: 100%;
    background-color: #FED32D;
    position: fixed;
    z-index: -20; }

  .sectionPresProjects {
    background-color: #303F3C;
    z-index: 20;
    padding: 0px 7%;
    height: auto;
    overflow: hidden; }
    .sectionPresProjects p {
      color: #FED32D;
      font-family: 'poppins';
      font-size: 30px;
      font-weight: 600;
      padding: 60px 0 0 0; }
    .sectionPresProjects .img {
      height: 300px;
      margin-top: 60px; }
      .sectionPresProjects .img img {
        -webkit-border-radius: 100px / 160px;
        -moz-border-radius: 100px / 160px;
        border-radius: 10px; }
    .sectionPresProjects .circl1 {
      width: 140px;
      height: 140px;
      z-index: 0;
      left: 20px; }
    .sectionPresProjects .circl2 {
      z-index: 30; }
    .sectionPresProjects img {
      z-index: 20; }
    .sectionPresProjects .projects {
      margin: 150px 0 150px 0;
      height: 600px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sectionPresProjects .projects h2 {
        font-family: dharma-gothic-m, sans-serif;
        color: #FED32D;
        font-style: oblique;
        font-weight: 900;
        font-size: 260px;
        transform: rotate(90deg); }
      .sectionPresProjects .projects #slider-container {
        position: absolute;
        right: 0;
        left: 0;
        gap: 72px;
        display: inline-flex;
        transform: translateX(0%);
        transition: transform 0.3s ease-out;
        cursor: grab; }
      .sectionPresProjects .projects .slide {
        max-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; }
        .sectionPresProjects .projects .slide img {
          opacity: 0.9; }
      .sectionPresProjects .projects .grabbing {
        cursor: grabbing; }
        .sectionPresProjects .projects .grabbing img {
          transform: scale(0.9);
          opacity: 1; } }

/*# sourceMappingURL=style.css.map */
