@import "abstract/variables",
        "abstract/mixins",
        "component/3Dtitles",
        "component/logo",
        "component/menu burger";

*{
    margin:0;
    padding:0;
    list-style-type: none;
}
section{
    background-color:$color-primary;
    display: flex;
}
.name{
    position: relative;
    width: 70vh;
    height: 100vh;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
}

.portfolio{
    font-family:$font-type;
    font-size: 170px;
    color: $color-primary;
    transform: rotate(-90deg);
    position: absolute;
    margin: auto;
    transition: 1.6s;
    bottom:230px;
}

.pres{
    background-color: $color-primary;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 40% 35% ;
    
    .hover{
        background-color: $color-secondary;
    }
    .span1{
        height: 0%;
        transition: 0.5s;
        grid-column: 3/4;
        grid-row:1/5;
    }
    .span2{
        height: 0%;
        transition: 1s;
        grid-column: 2/3;
        grid-row:1/5;
    }
    .span3{
        height: 0%;
        transition: 1.5s;
        grid-column: 1/2;
        grid-row:1/5;
    }
}



/*----------ABOUT ME----------*/

.container_about{
    height: 100vh;
    width: 100%;
    background-color: $color-primary;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .main_title{
        grid-column: 1/3;
        grid-row: 1/5;
        display: flex;
        justify-content: start;
        align-items: center;
        
        h1{
            transform: rotate(-90deg);
            font-family: $font-type;
            font-size: 180px;
            color: $color-secondary;
            padding-left: -20px;
        }
    }
    .text_pres{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 3/6;
        grid-row: 2/4;
        font-size: 30px;
        font-family: rift-soft, sans-serif;
        background-color: $color-third;
        color: $color-primary;
        padding:40px;
        mark{
            background-color: $color-primary;
        }   
    }
}

.second_container{
    height: 100vh;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    .dev{
        width: 40%;
        height: 80%;
        text-align: start;
        h1{
            text-align: center;
            font-family: rift-soft, sans-serif;
            font-weight: 700;
            padding-top: 40px;
            padding-bottom: 20px;
            font-size: 60px;
        }
        &.front-end{
            background-color: $color-primary;
            margin-right: 20px;
            h1{
                color:$color-third;
                
            }
            p{
                font-size: 30px;
                font-family: rift-soft, sans-serif;
                padding: 20px;
            }
            mark{
                background-color: $color-third;
            }   
        }
        &.back-end{
            margin-left: 20px;
            background-color: $color-third;
            h1{
                color:$color-primary;
            }
            p{
                font-size: 30px;
                font-family: rift-soft, sans-serif;
                padding: 20px;
            }
            mark{
                background-color: $color-primary;
            } 
        }
    }
    
}
.third_container{
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    padding:40px;
    
    img{
        height: 90vh;
        margin-right: 30px;
    }
    .description_img{
        width: 40%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        p{
            font-size: 30px;
            font-family: rift-soft, sans-serif;
        }
    }
}


/*----------PROJECTS----------*/

.container_projects{
    background-color: $color-primary;
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 25% 25% 15%;
    grid-template-rows: 35% 50% 15%;
    .img{
        grid-column: 4/5;
    }
    h1{
        font-family: $font-type;
        color: $color-third;
        grid-column: 1/2;
        grid-row: 1/3;
        font-size: 380px;
        text-align: start;
        padding-left:20px;
        margin-left:50px;
        &.jects{
            padding-top: 50px;
            grid-row: 2/3;
            font-size: 245px;
            color: $color-secondary;
            //transform: rotateY(180deg);
        }
    }
    .projects_intro{
        grid-column: 2/5;
        grid-row: 2/3;
        background-color: $color-third;
        height: 100%;
        width: 100%;
        
        p{
            font-family: rift-soft, sans-serif;
            color:$color-primary;
            font-size: 30px;
            padding: 20px;
            padding-left:40px;
        }
    }
}
.second_container_projects{
    background-color: $color-primary;
    
    .rohlavache{
        background-color: $color-third;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 120px;
        img{
            height: 400px;
            margin-right: 20px;
            padding:30px;
        }
        .rlv_pres{
            height: 350px;
            width: 40%;
            margin-left: 20px;
            color: $color-primary;
            font-family: $font-type;
            
            h1{
                font-family: Nazare;
                font-size: 60px;
            }
            p{
                font-family: rift-soft, sans-serif;
                font-size: 30px;
            }
            button{
                margin-top: 30px;
                font-family: rift-soft, sans-serif;
                font-size: 20px;
                width: 120px;
                height: 45px;
                border: solid 2px $color-primary;
                background-color: $color-third;
                color: $color-primary;
                &:hover{
                    background-color: $color-primary;
                    color: $color-secondary;
                }
            }
        }
    }
    .paranoidbroco{
        background-color: $color-primary;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        margin-top: 40px;
        img{
            height: 400px;
            margin-right: 70px;
            padding:30px;
        }
        .rlv_pres{
            height: 350px;
            width: 40%;
            margin-left: 20px;
            color: $color-secondary;
            font-family: $font-type;
            
            h1{
                font-family: eds-market-regular-slant, sans-serif;
                font-size: 60px;
                
            }
            p{
                font-family: rift-soft, sans-serif;
                font-size: 30px;
            }
            button{
                margin-top: 30px;
                font-family: rift-soft, sans-serif;
                font-size: 20px;
                width: 120px;
                height: 45px;
                border: solid 2px $color-secondary;
                background-color: $color-primary;
                color: $color-secondary;
                &:hover{
                    background-color: $color-secondary;
                    color: $color-primary;
                }
            }
        }
    }
}

