@import "abstract/variables",
        "abstract/mixins",
        "component/3Dtitles.sass";

*{
    margin:0;
    padding:0;
    list-style-type: none;
}
section{
    background-color:$color-primary;
    display: flex;
    
}
.name{
    position: relative;
    width: 70vh;
    height: 100vh;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    
}

.portfolio{
    font-family:$font-type;
    font-size: 170px;
    color: $color-primary;
    transform: rotate(-90deg);
    position: absolute;
    margin: auto;
    transition: 1.6s;
    bottom:230px;
}

.pres{
    background-color: $color-primary;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 40% 35% ;
    .burger{
        height:6px;
        width:40px;
        background-color: $color-secondary;
        position: absolute;
        top:40px;
        right: 40px;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            background-color: $color-secondary;
            height: 6px;
            width: 30px;
            transform: translateY(12px);
        }
    }
    .cross{
        height: 6px;
        width: 40px;
        background-color: $color-primary;
        position: absolute;
        transform: rotate(45deg);
        top:40px;
        right: 40px;
        visibility: hidden;
        &::before{
            content: '';
            position: absolute;
            background-color: $color-primary;
            height: 6px;
            width: 40px;
            transform: rotate(90deg);
        }
    }
    nav{
        font-family: $font-type;
        font-size: 160px;
        grid-column: 1/4;
        grid-row:2/4;
        color: $color-third;
        text-align: end;
        padding-right: 80px;
        Ul>li{
            margin: -30px;
        }
        .FE{
            font-size:230px;
            -webkit-text-stroke: 3px $color-third;
            color: $color-primary;
            letter-spacing: 5px;
        }
        .NM{
            font-size:200px;
            color: $color-secondary;
        }
    }
    .hover{
        background-color: $color-secondary;
    }
    .span1{
        height: 0%;
        transition: 0.5s;
        grid-column: 3/4;
        grid-row:1/5;
    }
    .span2{
        height: 0%;
        transition: 1s;
        grid-column: 2/3;
        grid-row:1/5;
    }
    .span3{
        height: 0%;
        transition: 1.5s;
        grid-column: 1/2;
        grid-row:1/5;
    }
}


