* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  background-color: #FFEBE8;
  display: flex;
}

.name {
  position: relative;
  width: 90vh;
  height: 100vh;
  background-color: tomato;
}

.matis {
  font-family: dharma-gothic-m, sans-serif;
  font-size: 140px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 60px;
  left: 190px;
  transition: 2s;
}
.matis h1 {
  -webkit-text-stroke: 3px #FFEBE8;
  color: tomato;
}

.portfolio {
  font-family: dharma-gothic-m, sans-serif;
  font-size: 170px;
  color: #FFEBE8;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 210px;
  left: -160px;
  transition: 1.6s;
}

.pres {
  background-color: #FFEBE8;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 45% 55%;
}
.pres .burger {
  height: 6px;
  width: 40px;
  background-color: tomato;
  position: absolute;
  top: 40px;
  right: 40px;
}
.pres .burger::before {
  content: "";
  position: absolute;
  background-color: tomato;
  height: 6px;
  width: 30px;
  transform: translateY(12px);
}
.pres .cross {
  height: 6px;
  width: 40px;
  background-color: #FFEBE8;
  position: absolute;
  transform: rotate(45deg);
  top: 40px;
  right: 40px;
  visibility: hidden;
}
.pres .cross::before {
  content: "";
  position: absolute;
  background-color: #FFEBE8;
  height: 6px;
  width: 40px;
  transform: rotate(90deg);
}
.pres nav {
  font-family: dharma-gothic-m, sans-serif;
  font-size: 160px;
  grid-column: 1/4;
  grid-row: 2/3;
  color: #FF8A75;
  text-align: end;
  padding-right: 40px;
}
.pres nav .FE {
  font-size: 200px;
  -webkit-text-stroke: 3px #FF8A75;
  color: #FFEBE8;
}
.pres .hover {
  background-color: tomato;
}
.pres .span1 {
  height: 0%;
  transition: 0.5s;
  grid-column: 3/4;
  grid-row: 1/3;
}
.pres .span2 {
  height: 0%;
  transition: 1s;
  grid-column: 2/3;
  grid-row: 1/3;
}
.pres .span3 {
  height: 0%;
  transition: 1.5s;
  grid-column: 1/2;
  grid-row: 1/3;
}

.About3D {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  grid-column: 1/3;
  grid-row: 1/2;
  visibility: hidden;
  cursor: pointer;
}
.About3D .btn3d {
  font-family: dharma-gothic-m, sans-serif;
  font-size: 95px;
  position: relative;
  width: 400px;
  height: 100px;
  perspective: 500px;
}
.About3D .btn3d:hover > .btn__flip {
  transform: rotateX(-90deg);
}
.About3D .btn3d .btn__flip {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center bottom 50px;
  transition: transform 2s;
  transform: rotateX(0deg);
}
.About3D .btn3d .btn__flip .btn__flip--off {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(0deg) translateZ(50px);
  background: tomato;
  color: #FFEBE8;
}
.About3D .btn3d .btn__flip .btn__flip--on {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(90deg) translateZ(50px);
  background: #FFEBE8;
  color: tomato;
}

/*# sourceMappingURL=style.css.map */
