$color-primary: #FFEBE8;
$color-secondary: tomato;
$color-third: #FF8A75;
$font-type: dharma-gothic-m, sans-serif;

$cd-on: #59CD90;
$cd-off: #EE6352;
$persp: 500px;
$btn-width: 25vw;
$btn-height: 7.5vw;